body {
  background-image: url('./pomegranates.jpeg');
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dimmer {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 600px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.15);
}

h1 {
  font-size: 6em;
  color: #800080;
  text-align: center;
}

p {
  font-size: 3em;  
  width: 100%;
  text-align: center;
  color:  #682860;
}

#response {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.pleased {
  background-image: url('./pleased.jpg');
}

.displeased {
  background-image: url('./displeased.jpg');
}

@media (max-width: 1000px) {
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 4em;
  }
}
